.aboutContainer {
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.aboutCards {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  