.app {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .app {
    padding: 4rem;
  }
}