.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
.cartItem {

align-items: center;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
border-radius: 25px;
padding: 1.5rem 3.5rem
}

.cartItem img {
width: 200px;
height:auto;

}

.text {
  font-size: 2rem;
}

.countHandler input {
width: 5rem;
text-align: center;
}

.cartCheckout {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.totalPrice {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cartButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyImage {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .cart {
    padding: 10px;
  }

  .cartCheckout {
    padding: 10px;
  }
}