.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
.cartItem {

align-items: center;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
border-radius: 25px;
}

.cartItem img {
width: 200px;
}

.cartItem .description {
width: 100%;
font-size: 30px;
}

.countHandler input {
width: 40px;
text-align: center;
font-weight: bolder;
}

.checkout button {
width: 150px;
height: 50px;
background-color: rgb(19, 19, 19);
color: white;
border: none;
border-radius: 8px;
margin: 10px;
cursor: pointer;
}

.cartCheckout {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.totalPrice {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cartButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyImage {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .cart {
    padding: 10px;
  }

  .cart-checkout {
    padding: 10px;
  }
}