/* this is for defining global style */
body {
  margin: 0;
  font-family: system-ui;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
.withScrollbar {
  height: 300px;
  border: 5px solid hsl(0 0 50% / 0.5);
  overflow-y: scroll;
} */