.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  padding-top: 0.6em;
  margin-left: -2em;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.cartButton {
  background-color: #007bff;
  color: #fff;
}

.signupButton {
  background-color: #007bff;
  color: #fff;
  justify-self: flex-end;
}

.logoimg {
  height: 24px;
  width: 24px;
}