.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cartButton {
    background-color: #007bff;
    color: #fff;
  }