.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    flex-grow: 1;
  }
  
  .title {
    margin-bottom: 1rem;
  }
  
  .description {
    margin-bottom: 2rem;
  }
  
  @media (min-width: 600px) {
    .container {
      padding: 4rem;
    }
  }