.navbar {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    height: 100vh;
    margin: 0;
  }
  
  .navLink {
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }