.productsContainer {
  padding: 2rem;
}

.title {
  text-align: center;
}
.productImage {
  padding: 1rem;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.buttonsGroup {
  display: flex;
  flex-wrap: wrap;
}
  
button:hover {
  cursor: pointer;
}